<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualizar raza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item" padding>

  <form [formGroup]="edit" (ngSubmit)="Update(edit.value)">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="raza_nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle checked={{item.raza_activo}} formControlName="raza_activo"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Especie</ion-label>
      <ion-select formControlName="raza_especie" value="{{ListItemEspecie.id}}" cancelText="Cancelar">
        <ion-select-option *ngFor="let especie of ListEspecie" value="{{especie.id}}">{{especie.especie_nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" color="#827F46" type="submit" [disabled]="!edit.valid">Actualizar</ion-button>

  </form>

</ion-content>