<ion-header no-border>
  <form [formGroup]="todo" (ngSubmit)="Filtro(todo.value)">
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-button slot="end" color="#5d7646" type="submit" [disabled]="!todo.valid">Filtro</ion-button>

    <ion-title>Lista de animales</ion-title>
  </ion-toolbar>

  <ion-toolbar color="#5d7646">
    <ion-searchbar animated placeholder="Filtrar animal" (ionChange)="BuscarAnimal($event)"></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="#5d7646">
    <ion-item>
      <ion-label>Lote</ion-label>
      <ion-select formControlName="animal_lote">
        <ion-select-option *ngFor="let lote of ListLote" value="{{lote.id}}">{{lote.lote_nombre}}</ion-select-option>
      </ion-select>

      <ion-label>Raza</ion-label>
      <ion-select formControlName="animal_raza">
        <ion-select-option *ngFor="let raza of ListRaza" value="{{raza.id}}">{{raza.raza_nombre}}</ion-select-option>
      </ion-select>

      <ion-label>Marca</ion-label>
      <ion-select formControlName="animal_marca">
        <ion-select-option *ngFor="let marca of ListMarca" value="{{marca.id}}">{{marca.marca_nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </ion-toolbar>

  </form>
</ion-header>

<ion-content >

  <ion-list>
    <ion-item-sliding *ngFor="let animal of List  | filtro: textAnimal">
      <ion-item [routerLink]="['/actualizar-animal', animal.id]">
        <h4>{{animal.animal_numero}}</h4>
        <ion-badge slot="end" item-end color="{{animal.animal_activo == 1 ? 'success' : 'danger'}}">
          {{animal.animal_activo == 1 ? 'Activo' : 'Inactivo'}}
        </ion-badge>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">
          <ion-icon style="font-size:32px;" name="information-circle" [routerLink]="['/info-animal', animal.id]">
          </ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlert(animal.id)">
          <ion-icon style="font-size:32px;" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-refresher slot="fixed" (ionRefresh)="Get()" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

</ion-content>

<ion-button block color="#827F46" routerLink="/animal-compra">Registrar Compra</ion-button>

<ion-button block color="#827F46" routerLink="/animal-nacimiento">Registrar Nacimiento</ion-button>