<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <form [formGroup]="todo" (ngSubmit)="Create()">

    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text" formControlName="animal_numero"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Especie</ion-label>
      <ion-select formControlName="animal_especie" placeholder="Seleccionar">
          <ion-select-option *ngFor="let especie of ListEspecie" value="{{especie.id}}">{{especie.especie_nombre}}</ion-select-option>
      </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>Raza</ion-label>
    <ion-select formControlName="animal_raza" placeholder="Seleccionar">
        <ion-select-option *ngFor="let raza of ListRaza" value="{{raza.id}}">{{raza.raza_nombre}}</ion-select-option>
    </ion-select>
</ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input type="text" formControlName="animal_color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select formControlName="animal_macho" value="m">
        <ion-select-option value="f">Hembra</ion-select-option>
        <ion-select-option value="m">Macho</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime display-format="MMM DD, YYYY" placeholder="Seleccionar Fecha" formControlName="animal_ingreso"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Peso al nacer</ion-label>
      <ion-input type="text" formControlName="animal_peso_nacer"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Padre</ion-label>
      <ion-select formControlName="animal_padre" placeholder="Seleccionar">
          <ion-select-option *ngFor="let padre of ListPadre" value="{{padre.id}}">{{padre.animal_numero}}</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Madre</ion-label>
    <ion-select formControlName="animal_madre" placeholder="Seleccionar">
        <ion-select-option *ngFor="let madre of ListMadre" value="{{madre.id}}">{{madre.animal_numero}}</ion-select-option>
    </ion-select>
</ion-item>

<ion-item>
  <ion-label>Hato</ion-label>
  <ion-select formControlName="animal_hato" placeholder="Seleccionar">
      <ion-select-option *ngFor="let hato of ListHato" value="{{hato.id}}">{{hato.hato_nombre}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
<ion-label>Lote</ion-label>
<ion-select formControlName="animal_lote" placeholder="Seleccionar">
    <ion-select-option *ngFor="let lote of ListLote" value="{{lote.id}}">{{lote.lote_nombre}}</ion-select-option>
</ion-select>
</ion-item>

<ion-item>
  <ion-label>Marca</ion-label>
  <ion-select formControlName="animal_marca" placeholder="Seleccionar">
      <ion-select-option *ngFor="let marca of ListMarca" value="{{marca.id}}">{{marca.marca_nombre}}</ion-select-option>
  </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RDFI</ion-label>
    <ion-input type="text" formControlName="animal_rdfi"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Observaciones</ion-label>
    <ion-input type="text" formControlName="animal_observaciones"></ion-input>
  </ion-item>
    
    <ion-button color="#827F46" type="submit" [disabled]="!todo.valid" (click)="presentAlert()">Registrar</ion-button>

  </form> 

</ion-content>
