<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualizar lote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item" padding>

  <form [formGroup]="edit" (ngSubmit)="Update(edit.value)">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="lote_nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" formControlName="lote_descripcion"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Superficie</ion-label>
      <ion-input type="text" formControlName="lote_superficie"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle checked={{item.lote_activo}} formControlName="lote_activo"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Hato</ion-label>
      <ion-select formControlName="lote_hato" value="{{ListItemHato.id}}" cancelText="Cancelar">
        <ion-select-option *ngFor="let hato of ListHato" value="{{hato.id}}">{{hato.hato_nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" color="#827F46" type="submit" [disabled]="!edit.valid">Actualizar</ion-button>

  </form>

</ion-content>