<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button block routerLink="/animal-compra">Registrar Compra</ion-button>
  <ion-button block routerLink="/animal-nacimiento">Registrar Nacimiento</ion-button>

</ion-content>