<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hato
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="todo" (ngSubmit)="Create()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="hato_nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" formControlName="hato_descripcion"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-button expand="full" (click)="takePhoto(0)">Seleccionar foto</ion-button>
      <ion-button expand="full" (click)="takePhoto(1)">Tomar foto</ion-button>
    </ion-item>

    <p><img src="{{myphoto}}"></p> -->

    <!-- <ion-label position="floating">Descripción</ion-label> -->
    <!-- <ion-input type="text" formControlName="hato_photo" value={{myphoto}}></ion-input> -->


    <ion-button color="#827F46" type="submit" [disabled]="!todo.valid" (click)="presentAlert()">Crear</ion-button>
    <!-- <ion-button block routerLink="/mostrar-hato">Listar hatos</ion-button>  -->
  </form>

</ion-content>