<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="todo" (ngSubmit)="Create()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="lote_nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" formControlName="lote_descripcion"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Superficie</ion-label>
      <ion-input type="text" formControlName="lote_superficie"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label>Hato</ion-label>
      <ion-select formControlName="lote_hato" placeholder="Seleccionar">
        <ion-select-option *ngFor="let hato of List" value="{{hato.id}}">{{hato.hato_nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="#5d7646" type="submit" [disabled]="!todo.valid" (click)="presentAlert()">Crear</ion-button>

  </form>

</ion-content>