<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Especies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let especie of List">
      <ion-item [routerLink]="['/actualizar-especie', especie.id]">
        <h4>{{especie.especie_nombre}}</h4>
        <ion-badge slot="end" item-end color="{{especie.especie_activo == 1 ? 'success' : 'danger'}}">
          {{especie.especie_activo == 1 ? 'Activo' : 'Inactivo'}}
        </ion-badge>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">
          <ion-icon style="font-size:32px;" name="information-circle" [routerLink]="['/info-especie', especie.id]"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="GetRaza(especie.id)"><ion-icon style="font-size:32px;" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="Get()" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

</ion-content>

<ion-button block color="#827F46" (click)="goForward()">Crear Especie</ion-button>