<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Raza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="todo" (ngSubmit)="Create()">
 
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="raza_nombre"></ion-input>
        </ion-item>

  <ion-item>
    <ion-label>Especie</ion-label>
    <ion-select formControlName="raza_especie" placeholder="Seleccionar">
        <ion-select-option *ngFor="let especie of List" value="{{especie.id}}">{{especie.especie_nombre}}</ion-select-option>
    </ion-select>
</ion-item>

<ion-button type="submit" color="#827F46" [disabled]="!todo.valid" (click)="presentAlert()">Crear</ion-button>

</form>
</ion-content>
