<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualizar Hato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item" padding>


  <form [formGroup]="edit" (ngSubmit)="Update(edit.value)">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="hato_nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" formControlName="hato_descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle checked={{item.hato_activo}} formControlName="hato_activo"></ion-toggle>
    </ion-item>

    <ion-button expand="block" color="#827F46" type="submit" [disabled]="!edit.valid">Actualizar</ion-button>
    <!-- <ion-button  block routerLink="/mostrar-hato">Volver</ion-button> -->
  </form>

</ion-content>