<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>información del Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="Raza">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{object.animal_numero}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="mb"><label><b>Especie:</b> {{Especie.especie_nombre}}</label>
      </ion-item>

      <ion-item class="mb"><label><b>Raza:</b> {{Raza.raza_nombre}}</label>
      </ion-item>

      <ion-item class="mb"><label><b>Color:</b> {{object.animal_color}}</label>
      </ion-item>

      <ion-item class="mb"><label><b>Sexo:</b> {{object.animal_macho}}</label>
      </ion-item>

      <ion-item>
        <p><img src="{{object.animal_foto}}"></p>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>