<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>información de la especie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="object">
  <ion-card>
    <ion-card-header>

      <ion-card-title>{{object.especie_nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>
        <h3><b>Razas pertenecientes a la especie:</b></h3>
      </ion-card-title>
      <ion-item *ngFor="let raza of razas" class="mb">{{raza.raza_nombre}}</ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>