<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>información del Hato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="object">

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>{{object.hato_nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="mb"><label><b>Descripción:</b> {{object.hato_descripcion}}</label>
      </ion-item>

      <ion-card-title>
        <h3><b>Lotes en el interior del hato:</b></h3>
      </ion-card-title>
      <ion-item *ngFor="let lote of lotes" class="mb">{{lote.lote_nombre}}</ion-item>

      <!-- <ion-card-title>
        <h3> <b>Foto:</b></h3>
      </ion-card-title>
      <ion-item>
        <p><img src="{{object.hato_photo}}"></p>
      </ion-item> -->

    </ion-card-content>
  </ion-card>

</ion-content>