<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>información del Lote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="object">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{object.lote_nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="mb"><label><b>Descripción:</b> {{object.lote_descripcion}}</label>
      </ion-item>

      <ion-card-title>
        <h3><b>Animales pertenecientes al lote:</b></h3>
      </ion-card-title>
      <ion-item *ngFor="let animal of animales" class="mb">{{animal.animal_numero}}</ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>