<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>información de la raza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="object">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{object.raza_nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-card-title>
        <h3><b>Animales pertenecientes a la raza:</b></h3>
      </ion-card-title>
      <ion-item *ngFor="let animal of animales" class="mb">{{animal.animal_numero}}</ion-item>


    </ion-card-content>
  </ion-card>
</ion-content>