.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  ion-toolbar {
    background: #5d7646;
    color:white;
}

.principal{
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 30px;
}