<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Especie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="todo" (ngSubmit)="Create()">
 
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="especie_nombre"></ion-input>
    </ion-item>
    
    <ion-button type="submit" color="#827F46" [disabled]="!todo.valid" (click)="presentAlert()">Crear</ion-button>

  </form> 
  
</ion-content>
