<ion-header>
  <ion-toolbar color="#5d7646">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualizar animal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ListItemHato" padding>


  <form [formGroup]="edit" (ngSubmit)="Update(edit.value)">

    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text" formControlName="animal_numero" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle checked={{item.animal_activo}} formControlName="animal_activo"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input type="text" formControlName="animal_color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Peso de ingreso</ion-label>
      <ion-input type="text" formControlName="animal_peso_nacer"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button expand="full" (click)="takePhoto(0)">Seleccionar foto</ion-button>
      <ion-button expand="full" (click)="takePhoto(1)">Tomar foto</ion-button>
    </ion-item>

    <p><img src="{{foto}}"></p>

    <ion-item>
      <ion-label>Hato</ion-label>
      <ion-select formControlName="animal_hato" value="{{ListItemHato.id}}" cancelText="Cancelar">
        <ion-select-option *ngFor="let hato of ListHato" value="{{hato.id}}">{{hato.hato_nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Lote</ion-label>
      <ion-select formControlName="animal_lote" value="{{ListItemLote.id}}" cancelText="Cancelar">
        <ion-select-option *ngFor="let lote of ListLote" value="{{lote.id}}">{{lote.lote_nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select formControlName="animal_marca" value="{{ListItemMarca.id}}" cancelText="Cancelar">
        <ion-select-option *ngFor="let marca of ListMarca" value="{{marca.id}}">{{marca.marca_nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" color="#827F46" type="submit" [disabled]="!edit.valid">Actualizar</ion-button>

  </form>

</ion-content>